#Con esto conseguimos que no se pueda acceder al htaccess (mejora de seguridad)
<Files .htaccess>
Order allow,deny
Deny from all
</Files>

#Url´s amigables (mejora para posicionamiento web)
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]



