<div class="panel">
	<div class="panel-heading">
		Welcome {{ auth.user.name }} 
	</div>
	<div class="panel-body">
		<div class="panel panel-success">
			<div class="panel-heading">
				Newsletter Mailings
			</div>
			<div class="panel-body">
				<a href="admindataview/newsletters">Click here</a> to see the list of newsletter subscribers and administer the email mailings.
			</div>
		</div>
		<div class="panel panel-success">
			<div class="panel-heading">
				Contacts from companies
			</div>
			<div class="panel-body">
				<a href="admindataview/companycontacts">Click here</a> to see companies who have expressed an interest in collaborating with codespace.
			</div>
		</div>
		<div class="panel panel-success">
			<div class="panel-heading">
				Curriculums
			</div>
			<div class="panel-body">
				<a href="admindataview/curriculums">Click here</a> to see curriculums submitted.
			</div>
		</div>
		<div class="panel panel-success">
			<div class="panel-heading">
				Promotion Entries
			</div>
			<div class="panel-body">
				<a href="admindataview/promotionentries">Click here</a> to manage the list of entries for the codespace launc promotion.
			</div>
		</div>
	</div>
</div>