{% extends 'templates/app.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md">
			<div class="panel panel-default">
				<div class="panel-heading">Link sent</div>
				<div class="panel-body">
					A password reset link has been sent to {{ email }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}