{% extends 'templates/app.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md">
			<div class="panel panel-default">
				<div class="panel-heading">Forgotten password</div>
				<div class="panel-body">
					<form action="{{ path_for('auth.password.sendresetlink') }}" method="POST" autocomplete="off">
						<div class="form-group {{ errors.email ? 'has-error' : ''}}">
							<label for="email">Email</label>
							<input class="form-control" type="email" name="email" id="email" value="">
							{% if errors.email %}
								<span class="help-block">
									{{ errors.email | first }}
								</span>
							{% endif %}
						</div>
						<button type="submit" class="btn btn-default">Send Link</button>

						{{ csrf.field | raw }}
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}