.persona-equipo {
    text-align: center;
}

.nombre {
    color: rgb(230, 23, 83);
    margin-top:10px;
    font-size:2em;
    clear:both;
}

.puesto {
    font-size: 1.2em;
    color: grey;
}


.foto-container {
    position: relative;
}

/* Foto Layout - repsposive for col-xs */

.foto-dummy, .foto-bottom, .foto-top {
    float:left;
    height:auto;
    width:70%;
    left:15%;
}

.foto-dummy {
    opacity:0;
}

.foto-bottom {
    -webkit-box-shadow: 5px 5px 5px #aaa;
    -moz-box-shadow: 5px 5px 5px #aaa;
    box-shadow: 5px 5px 5px #aaa;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    width: 70%;
    height: auto;
    position: absolute;
    left:15%;
}

.foto-top {
    -webkit-transform: scale(0,0);
    -moz-transform: scale(0,0);
    -o-transform: scale(0,0);
    transform: scale(0,0);
    opacity: 0;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -webkit-box-shadow: 5px 5px 5px #aaa;
    -moz-box-shadow: 5px 5px 5px #aaa;
    box-shadow: 5px 5px 5px #aaa;
    width: 70%;
    height: auto;
    position: absolute;
    left:15%;
}

@media (max-width: 576px) {
    .foto-dummy, .foto-top, .foto-bottom {
        width:50%;
        left:25%;
    }

}


/* Foto Scale transition */

.foto-scale-container:hover .foto-top {
    opacity:1;
    -webkit-transform:scale(1,1);
    -webkit-transform-origin: top right;
    -moz-transform:scale(1,1);
    -moz-transform-origin: top right;
    -o-transform:scale(1,1);
    -o-transform-origin: top right;
    transform:scale(1,1);
    transform-origin: top right;
  }

 .foto-scale-container:hover .foto-bottom {
    -webkit-transform:scale(0,0);
    -webkit-transform-origin: bottom left;
    -moz-transform:scale(0,0);
    -moz-transform-origin: bottom left;
    -o-transform:scale(0,0);
    -o-transform-origin: bottom left;
    transform:scale(0,0);
    transform-origin: bottom left;
  }

/* Foto Rotate Transition */

.foto-rotate-container:hover .foto-top {
    opacity:1;
    -webkit-transform:scale(1,1);
    -moz-transform:scale(1,1);
    -o-transform:scale(1,1);
    transform:scale(1,1);
  }

.foto-rotate-container:hover .foto-bottom {
    filter: alpha(opacity=0);
    -webkit-transform:rotate(360deg) scale(0,0);
    -moz-transform:rotate(360deg) scale(0,0);
    -o-transform:rotate(360deg) scale(0,0);
    transform:rotate(360deg) scale(0,0);
}

/* Blurbs */

.blurb-box {
    position:relative;
}

.blurb-1 {
    position:absolute;
    opacity:1;
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear;
}

.blurb-2 {
    position:absolute;
    opacity:0;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}


.foto-container:hover .blurb-1 {
    opacity:0;
}

.foto-container:hover .blurb-2 {
    opacity:1;
}



